<section>
    <h1>Change here your password</h1>

    <form action="/api/user/changePassword" method="post" id="formChangePassword">
        <fieldset>
            <legend>Reset your password</legend>

            <div class="mb-3">
                <label for="currentPass" class="form-label">Current password</label>
                <input type="password" id="currentPass" name="currentPass" class="form-control" placeholder="Current password">
            </div>

            <div class="mb-3">
                <label for="newPass" class="form-label">New password</label>
                <input type="password" id="newPass" name="newPass" class="form-control" placeholder="New password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</section>

<script src="/js/changePassword.js"></script>