<section class="container-fluid mt-5 d-flex justify-content-center animate__animated animate__fadeIn animate__delay-0.5s">

    <div class="row">
        <h1 class="h1 col-12">Home</h1>
    </div>

</section>
